.topnav {
  background-color:rgba(255, 255, 255, 0.56);
  border-radius: 1.7rem;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:  rgb(255, 255, 255);
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  transform: translateY(-5%);
  color: rgb(10, 141, 130);
}

.topnav a:active{
  transform: translateY(4%);
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(6, 233, 108, 0.50);
  color: white;
}
